$black: #111;
$white: #eee;
$red: #FF6254;
$blue: #63A9D8; //2bbc8a
$yellow: #FFCC5C;
$grey: #333;
$title-font-stack: 'Bungee Hairline',
cursive;
$body-font-stack: 'Montserrat',
sans-serif;
body {
    background-color: $black;
    overflow-x: hidden;
    a:hover {
        color: $yellow;
    }
    a {
        color: $blue;
        text-decoration: none;
    }
}

.container {
    width: 99%;
    height: 100vh;
    margin: auto;
    padding: 10px;
}

.nav-container {
    width: 20%;
    height: 100%;
    float: left;
    position: fixed;
    nav {
        .name {
            a:hover {
                color: $white;
            }
            a {
                color: $white;
            }
            font-family: $title-font-stack;
            font-size:40px;
        }
        .nav-settings {
            font-family: $title-font-stack;
            position: fixed;
            left: 1%;
            .nav-list {
                position: fixed;
                top: 20%;
                margin: 0;
                font-size: 20px;
                list-style-type: none;
                text-align: left;
                li {
                    list-style-type: none;
                }
            }
        }
    }
}

.body-container {
    margin-left: 20%;
    height: 100%;
    .IG {
        display: block;
        margin: auto;
        width: auto;
        height: auto;
        iframe {
            padding-bottom: 15px;
        }
    }
    .values {
        position: relative;
        top: 23%;
        font-family: $title-font-stack;
        font-size: 40px;
        color: $yellow;
        height: 25px;
        text-align: center;
    }
    .portfolio-title {
        font-family: $title-font-stack;
        text-align: center;
        margin-left: 200px;
        margin-right: 200px;
        color: $white;
        h1 {
            font-size: 28px;
        }
        h3 {
            font-size: 18px;
        }
    }
    .portfolio-text {
        font-family: $body-font-stack;
        font-size: 12px;
        margin-left: 200px;
        margin-right: 200px;
        color: $white;
    }
    .portfolio-image {
        img {
            display: block;
            margin: auto;
            width: 40%;
            padding: 10px;
            max-width: 40vw;
            max-height: 40vw;
            width: auto;
            height: auto;
        }
    }
    iframe {
        display: block;
        margin: 0 auto;
        width: 560px;
        height: 315px;
        max-width: 40vw;
        max-height: 40vw;
        border: none;
    }
}

#about-container {
    background-image: url("/assets/about/selfportrait.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed !important;
    font-family: $title-font-stack;
    padding: 10px;
    #bio {
        font-family: $title-font-stack;
        color: $white;
        font-size: 15px;
        height: 200px;
        width: 30%;
        position: absolute;
        top: 19%;
        right: 30%;
    }
}

.footer-copyright {
    font-family: $title-font-stack;
    position: absolute;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    color: $white;
    text-align: center;
}

#uc {
    margin: 200px auto;
    font-family: $title-font-stack;
    font-size: 100px;
    color: $red;
    text-align: center;
}