<div class="row section-header has-bottom-sep aos-init aos-animate" data-aos="fade-up">
    <div class="col-full">
        <h3 class="subhead subhead--dark">Oh helloooooo</h3>
        <h1 class="display-1 display-1--light">Hire me.</h1>
    </div>
</div>

<div class="row about-desc aos-init aos-animate" data-aos="fade-up">
    <div class="col-full">
        <p>A multidisciplinary problem-solver who loves to wo based in NYC. Code, 3D, and physical prototypes are my tools of choice. I have worked for <a href="https://www.atlassian.com">Atlassian</a>, the <a href="https://www1.nyc.gov/site/opportunity/index.page">NYC Mayor's Office of Economic Opportunity</a>,
            and the <a href="http://www.nyu-x.org/">NYU-X Innovation Lab</a>. Right now, I am interested in the intersection of technology and social impact. Always, I am interested in basketball, soul music, and ice cream.</p>
        <p>If you need a developer or a product manager or if you want to make weird art, <a href="mailto:jeffparkconsulting@gmail.com?Subject=Saw your portfolio. Want to say Hi">hit me up</a>. Check out my <a href="/work">previous work</a> to see what I
            can do. Or better yet, help me cross things off my <a href="/wantstodostuff">bucket list</p>
            </div>
        </div>

        <!-- stats -->
        <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full aos-init aos-animate" data-aos="fade-up">

            <div class="col-block stats__col ">
                <div class="stats__count">127</div>
                <h5>Awards Received</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">1505</div>
                <h5>Cups of Coffee</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">109</div>
                <h5>Projects Completed</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">102</div>
                <h5>Happy Clients</h5>
            </div>

        </div>

        <div class="about__line"></div>