<div class="row section-header aos-init aos-animate" data-aos="fade-up">
    <div class="col-full">
        <h3 class="subhead">Our Clients</h3>
        <h1 class="display-2">Glint has been honored to partner up with these clients</h1>
    </div>
</div>
<!-- end section-header -->

<div class="row clients-outer aos-init aos-animate" data-aos="fade-up">
    <div class="col-full">
        <div class="clients slick-initialized slick-slider slick-dotted" role="toolbar">

            <div aria-live="polite" class="slick-list draggable">
                <div class="slick-track" style="opacity: 1; width: 3880px; transform: translate3d(-1164px, 0px, 0px);" role="listbox">
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-cloned" data-slick-index="-6" aria-hidden="true" style="width: 194px;" tabindex="-1"><img src="./Glint_files/blackberry.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" style="width: 194px;" tabindex="-1"><img src="./Glint_files/dropbox.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" style="width: 194px;" tabindex="-1"><img src="./Glint_files/envato.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 194px;" tabindex="-1"><img src="./Glint_files/firefox.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 194px;" tabindex="-1"><img src="./Glint_files/joomla.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 194px;" tabindex="-1"><img src="./Glint_files/magento.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 194px;" tabindex="-1" role="option" aria-describedby="slick-slide00"><img src="./Glint_files/apple.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 194px;" tabindex="-1" role="option" aria-describedby="slick-slide01"><img src="./Glint_files/atom.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 194px;" tabindex="-1" role="option" aria-describedby="slick-slide02"><img src="./Glint_files/blackberry.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 194px;" tabindex="-1" role="option" aria-describedby="slick-slide03"><img src="./Glint_files/dropbox.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 194px;" tabindex="-1" role="option" aria-describedby="slick-slide04"><img src="./Glint_files/envato.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-active" data-slick-index="5" aria-hidden="false" style="width: 194px;" tabindex="-1" role="option" aria-describedby="slick-slide05"><img src="./Glint_files/firefox.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide" data-slick-index="6" aria-hidden="true" style="width: 194px;" tabindex="-1" role="option" aria-describedby="slick-slide06"><img src="./Glint_files/joomla.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide" data-slick-index="7" aria-hidden="true" style="width: 194px;" tabindex="-1" role="option" aria-describedby="slick-slide07"><img src="./Glint_files/magento.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" style="width: 194px;" tabindex="-1"><img src="./Glint_files/apple.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" style="width: 194px;" tabindex="-1"><img src="./Glint_files/atom.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" style="width: 194px;" tabindex="-1"><img src="./Glint_files/blackberry.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 194px;" tabindex="-1"><img src="./Glint_files/dropbox.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" style="width: 194px;" tabindex="-1"><img src="./Glint_files/envato.png"></a>
                    <a href="https://colorlib.com/etc/glint/index.html#0" title="" class="clients__slide slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" style="width: 194px;" tabindex="-1"><img src="./Glint_files/firefox.png"></a>
                </div>
            </div>








            <ul class="slick-dots" style="" role="tablist">
                <li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button" tabindex="0">1</button></li>
                <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01"><button type="button" data-role="none" role="button" tabindex="0">2</button></li>
                <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02"><button type="button" data-role="none" role="button" tabindex="0">3</button></li>
                <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation03" id="slick-slide03"><button type="button" data-role="none" role="button" tabindex="0">4</button></li>
            </ul>
        </div>
        <!-- end clients -->
    </div>
    <!-- end col-full -->
</div>
<!-- end clients-outer -->

<div class="row clients-testimonials aos-init aos-animate" data-aos="fade-up">
    <div class="col-full">
        <div class="testimonials slick-initialized slick-slider"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="">Previous</button>

            <div aria-live="polite" class="slick-list draggable" style="height: 510px;">
                <div class="slick-track" style="opacity: 1; width: 4640px; transform: translate3d(-928px, 0px, 0px);" role="listbox">
                    <div class="testimonials__slide slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 928px;" tabindex="-1">

                        <p>Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam. Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.</p>

                        <img src="./Glint_files/user-02.jpg" alt="Author image" class="testimonials__avatar">
                        <div class="testimonials__info">
                            <span class="testimonials__name">Satya Nadella</span>
                            <span class="testimonials__pos">CEO, Microsoft</span>
                        </div>

                    </div>
                    <div class="testimonials__slide slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 928px;" tabindex="-1" role="option" aria-describedby="slick-slide10">

                        <p>Qui ipsam temporibus quisquam vel. Maiores eos cumque distinctio nam accusantium ipsum. Laudantium quia consequatur molestias delectus culpa facere hic dolores aperiam. Accusantium quos qui praesentium corpori. Excepturi nam cupiditate
                            culpa doloremque deleniti repellat.</p>

                        <img src="./Glint_files/user-01.jpg" alt="Author image" class="testimonials__avatar">
                        <div class="testimonials__info">
                            <span class="testimonials__name">Tim Cook</span>
                            <span class="testimonials__pos">CEO, Apple</span>
                        </div>

                    </div>
                    <div class="testimonials__slide slick-slide" data-slick-index="1" aria-hidden="true" style="width: 928px;" tabindex="-1" role="option" aria-describedby="slick-slide11">

                        <p>Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci. Nisi eaque consequatur. Quasi voluptas eius distinctio. Atque eos maxime. Qui ipsam temporibus quisquam vel.</p>

                        <img src="./Glint_files/user-05.jpg" alt="Author image" class="testimonials__avatar">
                        <div class="testimonials__info">
                            <span class="testimonials__name">Sundar Pichai</span>
                            <span class="testimonials__pos">CEO, Google</span>
                        </div>

                    </div>
                    <div class="testimonials__slide slick-slide" data-slick-index="2" aria-hidden="true" style="width: 928px;" tabindex="-1" role="option" aria-describedby="slick-slide12">

                        <p>Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam. Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.</p>

                        <img src="./Glint_files/user-02.jpg" alt="Author image" class="testimonials__avatar">
                        <div class="testimonials__info">
                            <span class="testimonials__name">Satya Nadella</span>
                            <span class="testimonials__pos">CEO, Microsoft</span>
                        </div>

                    </div>
                    <div class="testimonials__slide slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" style="width: 928px;" tabindex="-1">

                        <p>Qui ipsam temporibus quisquam vel. Maiores eos cumque distinctio nam accusantium ipsum. Laudantium quia consequatur molestias delectus culpa facere hic dolores aperiam. Accusantium quos qui praesentium corpori. Excepturi nam cupiditate
                            culpa doloremque deleniti repellat.</p>

                        <img src="./Glint_files/user-01.jpg" alt="Author image" class="testimonials__avatar">
                        <div class="testimonials__info">
                            <span class="testimonials__name">Tim Cook</span>
                            <span class="testimonials__pos">CEO, Apple</span>
                        </div>

                    </div>
                </div>
            </div>





            <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="">Next</button></div>
        <!-- end testimonials -->

    </div>
    <!-- end col-full -->
</div>