<div class="overlay"></div>
<div class="contact__line"></div>

<div class="row section-header aos-init aos-animate" data-aos="fade-up">
    <div class="col-full">
        <h3 class="subhead">Contact Us</h3>
        <h1 class="display-2 display-2--light">Reach out for a new project or just say hello</h1>
    </div>
</div>

<div class="row contact-content aos-init aos-animate" data-aos="fade-up">

    <div class="contact-primary">

        <h3 class="h6">Send Us A Message</h3>

        <form name="contactForm" id="contactForm" method="post" action="https://colorlib.com/etc/glint/index.html" novalidate="novalidate">
            <fieldset>

                <div class="form-field">
                    <input name="contactName" type="text" id="contactName" placeholder="Your Name" value="" minlength="2" required="" aria-required="true" class="full-width" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                </div>
                <div class="form-field">
                    <input name="contactEmail" type="email" id="contactEmail" placeholder="Your Email" value="" required="" aria-required="true" class="full-width">
                </div>
                <div class="form-field">
                    <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width">
                </div>
                <div class="form-field">
                    <textarea name="contactMessage" id="contactMessage" placeholder="Your Message" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                </div>
                <div class="form-field">
                    <button class="full-width btn--primary">Submit</button>
                    <div class="submit-loader">
                        <div class="text-loader">Sending...</div>
                        <div class="s-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>

        <!-- contact-warning -->
        <div class="message-warning">
            Something went wrong. Please try again.
        </div>

        <!-- contact-success -->
        <div class="message-success">
            Your message was sent, thank you!<br>
        </div>

    </div>
    <!-- end contact-primary -->

    <div class="contact-secondary">
        <div class="contact-info">

            <h3 class="h6 hide-on-fullwidth">Contact Info</h3>

            <div class="cinfo">
                <h5>Where to Find Us</h5>
                <p>
                    1600 Amphitheatre Parkway<br> Mountain View, CA<br> 94043 US
                </p>
            </div>

            <div class="cinfo">
                <h5>Email Us At</h5>
                <p>
                    contact@glintsite.com<br> info@glintsite.com
                </p>
            </div>

            <div class="cinfo">
                <h5>Call Us At</h5>
                <p>
                    Phone: (+63) 555 1212<br> Mobile: (+63) 555 0100<br> Fax: (+63) 555 0101
                </p>
            </div>

            <ul class="contact-social">
                <li>
                    <a href="https://colorlib.com/etc/glint/index.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://colorlib.com/etc/glint/index.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://colorlib.com/etc/glint/index.html#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://colorlib.com/etc/glint/index.html#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://colorlib.com/etc/glint/index.html#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                </li>
            </ul>
            <!-- end contact-social -->

        </div>
        <!-- end contact-info -->
    </div>
    <!-- end contact-secondary -->

</div>