<!-- views/partials/explorations.ejs -->

<div id="explorations">
    Explorations
    </div>
    <ul id="exploration-links">
        <li class"CT"><a href="/work/shaders">Shaders</a></li>
        <li class"CT"><a href="/work/unrealunity">UE4/Unity</a></li>
        <li class"CT"><a href="/">Homemade PCBs</a></li>
    </ul>