<div class="header-logo">
    <a class="site-logo" href="/">
        <img src="/assets/about/gh-logo.png" alt="Homepage">
    </a>
</div>

<nav class="header-nav">
    <% include ./navi.ejs %>
</nav>

<a class="header-menu-toggle opaque" href="/#">
    <span class="header-menu-text">Menu</span>
    <span class="header-menu-icon"></span>
</a>