<!-- views/partials/head.ejs -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- basic page needs -->
<title>Jeff Park</title>
<meta name="description" content="Welcome to Jeff Park's portfolio. Multidisciplinary problem solver with a proven history of success.">
<meta name="author" content="Jeff Park">

<!-- mobile info -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- other metas -->
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- stylesheets -->
<link rel="stylesheet" href="css/main.css" media="screen">
<!-- <link rel="stylesheet" href="css/base.css" media="screen"> -->
<!-- <link rel="stylesheet" href="css/vendor.css" media="screen"> -->
<!-- <link rel="stylesheet" href="css/main2.css" media="screen"> -->

<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<!-- favicons -->


<!-- scripts -->
<script src="./js/modernizr.js"></script>
<script src="./js/pace.min.js"></script>