<!-- views/partials/navi.ejs -->

<div class="menu-toggle" onclick="menuClick(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>

<div id="menu">
    <a href="/">
        <h4>Home</h4>
    </a>
    <a href="/work">
        <h4>Work</h4>
    </a>
    <div id="submenu">
        <a href="/work/glitch">
            <h4>glitch.dance</h4>
        </a>
        <a href="/work/responsibly">
            <h4>Responsibly.me</h4>
        </a>
        <a href="/work/ocular">
            <h4>Ocular</h4>
        </a>
        <a href="/work/deliverance">
            <h4>Deliverance</h4>
        </a>
        <a href="/work/shaders">
            <h4>Shaders</h4>
        </a>
        <a href="/work/pinocchio">
            <h4>Pinocchio VR</h4>
        </a>
        <a href="/work/accessnyc">
            <h4>AccessNYC</h4>
        </a>
        <a href="/work/brainrhythms">
            <h4>Brain Rhythms</h4>
        </a>
        <a href="/work/liquidlight">
            <h4>Liquid Light</h4>
        </a>
        <a href="/work/longboard">
            <h4>Longboard</h4>
        </a>
    </div>
    <a href="/blog">
        <h4>Blog</h4>
    </a>
    <a href="/wantstodostuff">
        <h4>Bucket List</h4>
    </a>
    <div id="social">
        <a href="https://www.github.com/jpark11" target="_blank"><img src="/assets/about/gh-logo.png"></img>
        </a>
        <a href="https://www.linkedin.com/in/jypark03" target="_blank"><img src="/assets/about/li-logo.jpg"></img>
        </a>
        <a href="https://www.instagram.com/_tribecalledjeff" target="_blank"><img src="/assets/about/ig-logo.png"></img>
        </a>
    </div>
</div>