<!-- views/partials/social-links.ejs -->

<div class="social-links">
<p><a href="https://www.facebook.com/jypark">FB</a> | <a href="https://www.instagram.com/_tribecalledjeff">IG</a> | <a href="https://www.linkedin.com/in/jypark03/">IN</a> | <a href="https://github.com/jpark11">GH</a> </p>
</div>