<!-- views/partials/work-list.ejs -->

<div id="selected-works">
    Selected Works
</div>
<ul id="work-links">
	<li class"CT"><a href="/work/ocular">Ocular</a></li>
	<li class"CT"><a href="/work/deliverance">Deliverance</a></li>
    <li class"CT"><a href="/work/liquidlight">Liquid Light</a></li>
    <li class"ID"><a href="/work/accessnyc">Access NYC</a></li>
    <li class"CT"><a href="/work/Pinocchio">Pinocchio VR</a></li>
    <li class"CT"><a href="/work/swellbeats">Swell Beats</a></li>
</ul>