@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Menlo Regular"), url("/fonts/Menlo-Regular.woff") format("woff"); }

a {
  color: #555; }

a:visited {
  color: #555; }

body {
  background-color: #FCFAFB;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0; }
  body #home-container {
    background-image: url("/assets/about/selfportrait-white.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% -50px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 2fr 25fr 1fr;
    grid-gap: 0; }
    body #home-container #home-greeting {
      font-family: "Menlo Regular", sans-serif;
      font-size: 30px;
      color: #555;
      grid-column: 2;
      grid-row: 2; }
    body #home-container #home-intro {
      font-family: "Montserrat", sans-serif;
      font-size: 22px;
      max-width: 630px;
      grid-column: 2;
      grid-row: 3; }
    body #home-container #footer {
      font-family: "Menlo Regular", sans-serif;
      font-size: 12px;
      text-align: center;
      color: #aaa;
      grid-column: 2;
      grid-row: 4; }
      body #home-container #footer #social img {
        width: 12px;
        height: 12px; }
  body #work-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; }
    body #work-container .project {
      grid-column: 2;
      padding-top: 25px; }
      body #work-container .project .project-title {
        font-family: "Menlo Regular", sans-serif;
        font-size: 22px;
        color: #555; }
      body #work-container .project .project-desc {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        color: #555; }
      body #work-container .project .project-tools {
        font-family: "Menlo Regular", sans-serif;
        font-size: 14px;
        color: #aaa; }
    body #work-container #footer {
      font-family: "Menlo Regular", sans-serif;
      font-size: 12px;
      text-align: center;
      color: #aaa;
      padding-top: 20px;
      grid-column: 2; }
      body #work-container #footer #social img {
        width: 12px;
        height: 12px; }
  body #portfolio-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 30fr 1fr; }
    body #portfolio-container .portfolio-title {
      font-family: "Menlo Regular", sans-serif;
      padding-top: 25px;
      grid-column: 2; }
      body #portfolio-container .portfolio-title h3 {
        font-size: 26px; }
      body #portfolio-container .portfolio-title p {
        font-size: 14px;
        color: #aaa; }
    body #portfolio-container .portfolio-desc {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      grid-column: 2; }
    body #portfolio-container .portfolio-img-col {
      padding-top: 25px;
      grid-column: 2; }
      body #portfolio-container .portfolio-img-col .portfolio-img-col-hero img {
        max-width: 720px;
        width: 100%; }
    body #portfolio-container .portfolio-video {
      padding-top: 25px;
      grid-column: 2;
      max-width: 720px; }
      body #portfolio-container .portfolio-video img {
        width: 100%; }
      body #portfolio-container .portfolio-video iframe {
        width: 100%; }
    body #portfolio-container .portfolio-img-grid {
      padding-top: 25px;
      grid-column: 2;
      max-width: 720px;
      display: grid;
      grid-gap: 4px;
      grid-template-columns: 1fr 1fr; }
      body #portfolio-container .portfolio-img-grid img {
        width: 100%;
        max-height: 250px; }
      body #portfolio-container .portfolio-img-grid #imgL {
        grid-column: 1; }
      body #portfolio-container .portfolio-img-grid #imgR {
        grid-column: 2; }
    body #portfolio-container .port-navi {
      grid-column: 2;
      font-family: "Menlo Regular", sans-serif;
      font-size: 12px;
      text-align: center;
      padding-top: 20px; }
      body #portfolio-container .port-navi .left-navi,
      body #portfolio-container .port-navi .right-navi {
        display: inline; }
    body #portfolio-container #footer {
      font-family: "Menlo Regular", sans-serif;
      font-size: 12px;
      text-align: center;
      color: #aaa;
      padding-top: 20px;
      grid-column: 2; }
      body #portfolio-container #footer #copyright {
        margin: 2px; }
      body #portfolio-container #footer #social img {
        width: 12px;
        height: 12px; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.menu-toggle {
  cursor: pointer;
  position: fixed;
  right: 3%;
  top: 3%; }
  .menu-toggle .bar1,
  .menu-toggle .bar2,
  .menu-toggle .bar3 {
    width: 35px;
    height: 5px;
    background-color: #555;
    margin: 6px 0;
    transition: 0.4s; }
  .menu-toggle .menu-list {
    text-align: right; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

#menu {
  font-family: "Menlo Regular", sans-serif;
  text-align: left;
  font-size: 16px;
  display: none;
  position: fixed;
  right: 1%;
  top: 5%;
  padding: 0em 2em 1em 0em; }
  #menu a {
    color: #555; }
  #menu #submenu {
    font-family: "Menlo Regular", sans-serif;
    font-size: 12px;
    padding-left: 1em;
    text-align: left; }
    #menu #submenu a {
      text-decoration: none; }
  #menu #social img {
    width: 12px;
    height: 12px; }
