body {
  background-color: #111;
  overflow-x: hidden; }
  body a:hover {
    color: #FFCC5C; }
  body a {
    color: #63A9D8;
    text-decoration: none; }

.container {
  z-index: -1;
  width: 99%;
  height: 100vh;
  margin: auto;
  padding: 10px; }

.nav-container {
  width: 20%;
  height: 100%;
  float: left;
  position: fixed; }
  .nav-container nav .name {
    font-family: "Bungee Hairline", cursive;
    font-size: 40px;
    position: fixed;
    top: 2%; }
    .nav-container nav .name a:hover {
      color: #eee; }
    .nav-container nav .name a {
      color: #eee; }
  .nav-container nav .nav-settings {
    font-family: "Bungee Hairline", cursive;
    position: fixed;
    left: 1%; }
    .nav-container nav .nav-settings .nav-list {
      position: fixed;
      top: 20%;
      margin: 0;
      font-size: 20px;
      list-style-type: none;
      text-align: left; }
      .nav-container nav .nav-settings .nav-list li {
        list-style-type: none; }

.body-container {
  margin-left: 20%;
  height: 100%; }
  .body-container .IG {
    display: block;
    margin: auto;
    width: auto;
    height: auto; }
    .body-container .IG iframe {
      padding-bottom: 15px; }
  .body-container .values {
    position: relative;
    top: 23%;
    font-family: "Bungee Hairline", cursive;
    font-size: 40px;
    color: #FFCC5C;
    height: 25px;
    text-align: center; }
  .body-container .portfolio-title {
    font-family: "Bungee Hairline", cursive;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    color: #eee; }
    .body-container .portfolio-title h1 {
      font-size: 28px; }
    .body-container .portfolio-title h3 {
      font-size: 18px; }
  .body-container .portfolio-text {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin-left: 200px;
    margin-right: 200px;
    color: #eee; }
  .body-container .portfolio-image img {
    display: block;
    margin: auto;
    width: 40%;
    padding: 10px;
    max-width: 40vw;
    max-height: 40vw;
    width: auto;
    height: auto; }
  .body-container iframe {
    display: block;
    margin: 0 auto;
    width: 560px;
    height: 315px;
    max-width: 40vw;
    max-height: 40vw;
    border: none; }

#about-container {
  background-image: url("/assets/about/selfportrait.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed !important;
  font-family: "Bungee Hairline", cursive;
  padding: 10px; }
  #about-container #bio {
    font-family: "Bungee Hairline", cursive;
    color: #eee;
    font-size: 15px;
    height: 200px;
    width: 30%;
    position: absolute;
    top: 19%;
    right: 30%; }

.footer-copyright {
  font-family: "Bungee Hairline", cursive;
  position: absolute;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  color: #eee;
  text-align: center; }

#uc {
  margin: 200px auto;
  font-family: "Bungee Hairline", cursive;
  font-size: 100px;
  color: #FF6254;
  text-align: center; }
