<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - About</title>
<head>
    <% include ../partials/head %>
</head>
<body id="about-container">
        <div class="nav-container">
            <% include ../partials/navi %>
        </div>
        <div class="body-container">
            <div id="bio">
                <p>Hi! I'm a creative technologist and designer currently pursuing my Master's Degree at the Interactive Telecommunications Program at NYU. </p>
                <p>In a previous life, I was a Product Marketer for five years at a software company that accomplished the Silicon Valley dream to go public. To me, this "dream" seemed short-sighted and unfulfilling, so I am now pursuing my Master's Degree in order to unlock some of technology's greater powers to shape this world into a better place.</p>
                <p>I believe technology is inherently weird and magical, and this very nature should be celebrated and explored much farther than an advertisement marketplace disguised as an iPhone app or social network. It has the power to flatten hierarchies and build a more equitable society; it can be used as a tool for artistic and political expression; it can propel humanity forward and provide us with a better understanding of ourselves. And we can achieve all of this while still earning a pretty penny if we were so inclined.</p>
                <p>Join me on this quest, and find me on <a href="https://www.linkedin.com/in/jypark03/">LinkedIn</a>, <a href="https://github.com/jpark11">GitHub</a>, or <a href="https://instagram.com/_tribecalledjeff">Instagram</a>!</p>
            </div>
        </div>
</body>
<footer>
    <% include ../partials/footer %>
</footer>

</html>