<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - About</title>
<head>
    <% include ../partials/head %>
</head>
<body id="about-container">
    <div id="name-plate">
    Jeff Park
    </div>
    <div id="bio">
    <p>Jeff is a Creative Technologist and Designer, currently at the Interactive Telecommunications Program at NYU. His studies focus on installation art and the virtual space, with the hopes of using these mediums to tell stories and inspire action to fight the prevailing problems of today's society.</p>
    <p>In a previous life, he was a Product Marketer for Atlassian, leveraging stories to promote tools that foster team communication and business productivity.</p>
    <p>He currently resides in New York City.</p>
        <div id="social">
    <a href="https://www.facebook.com/jypark">Facebook</a> | <a href="https://www.instagram.com/_tribecalledjeff">Instagram</a> | <a href="https://www.linkedin.com/in/jypark03/">LinkedIn</a> | <a href="https://github.com/jpark11">GitHub</a>
    </div>
    </div>
    

    <% include ../partials/navi %>

    <footer>
    <% include ../partials/footer %>
    </footer>

</body>
</html>