<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park</title>

<head>
    <% include ../partials/head %>
</head>

<body>
    <div id="portfolio-container">
        <% include ../partials/navi.ejs %>
            <div class="portfolio-title">
                <h3>Bucket List</h3>
                <p>I want to do these things before I go. Do some with me!</p>
            </div>
            <div class="portfolio-desc">
                <ul>
                    <li>Contribute to the elimination of a large social problem</li>
                    <li><strike>Build my own website</strike></li>
                    <li>Win a rec-league basketball championship</li>
                    <li><strike>Learn how to swim</strike></li>
                    <li>Live abroad for 6+ months
                        <ul>
                            <li>Lisbon? Tokyo? Rio? Sydney?</li>
                        </ul>
                    </li>
                    <li>Be conversational in six languages
                        <ul>
                            <li><strike>English</strike></li>
                            <li><strike>Korean</strike></li>
                            <li><strike>Spanish</strike></li>
                            <li>Japanese</li>
                            <li>Portuguese</li>
                            <li>Mandarin</li>
                        </ul>
                    </li>
                    <li>Create a light installation for Vivid Sydney</li>
                    <li>Skydive</li>
                    <li>Be able to casually play a musical instrument</li>
                    <li>Plant 1000 trees in my life</li>
                    <li>Buy a home for my parents</li>
                    <li>Buy a home for myself</li>
                    <li>Take my dad to Jerusalem</li>
                    <li>Produce a public installation in NYC</li>
                    <li><strike>Go to the world cup</strike></li>
                    <li>Attend the olympics (winter/summer)</li>
                    <li>
                        See the world
                        <ul>
                            <li>
                                <strong>Europe</strong>
                                <ul>
                                    <li>Budapest, Croatia, <strike>Spain</strike>, <strike>Portugal</strike>, <strike>Amsterdam</strike>, Iceland, <strike>Germany</strike>, <strike>France</strike>, <strike>Austria</strike>, <strike>Italy</strike>, <strike>Scotland</strike>,
                                        <strike>England</strike>, <strike>Norway</strike>, <strike>Stockholm</strike>, <strike>Denmark</strike>, Turkey, Greece
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <strong>Asia/Oceania</strong>
                                <ul>
                                    <li>Singapore, <strike>Hong Kong</strike>, <strike>Japan</strike>, Sichuan, Beijing, <strike>South Korea</strike>, Vietnam, North Korea, Laos, New Zealand, Western Australia, India, Malaysia, Mongolia
                                    </li>
                                </ul>
                            </li>
                            <li>
                                </strike>
                                <strong>Americas</strong>
                                <ul>
                                    <li>Cuba, Maui, Patagonia, Chile, <strike>Rio</strike>, Iguazu Falls, Columbia, Nicaragua, Costa Rica, Banff, <strike>Mexico</strike>, <strike>Argentina</strike>, <strike>Peru</strike>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <strong>Africa</strong>
                                <ul>
                                    <li>South Africa, Kenya, Madagascar, Egypt, Ethiopia, <strike>Morocco</strike>, Nigeria,
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>See the Mets & Knicks win a championship</li>
                </ul>
            </div>
            <% include ../partials/footer.ejs %>
    </div>


</body>

</html>