<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park</title>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div id="work-container">
        <% include ../partials/navi.ejs %>
        bucket list
        <% include ../partials/footer.ejs %>
    </div>
    
    
</body>
</html>