<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park</title>
<head>
    <% include ../partials/head %>
</head>
<body id="body-container">
    <div class="name">
        Jeff Park
    </div>

    <div class="home-links">
        <a id="about" href="/about">About</a>
        <a id="blog" href="/blog">Blog</a>
        <a id="work" href="/work">Work</a>
    </div>

    <div class="values">
        <h4>scrolling values</h1>
    </div>
</body>
</html>