<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html class="js svg audio canvas cssremunit csscalc cssgradients supports no-touchevents video cssanimations cssfilters flexbox flexboxlegacy no-flexboxtweener flexwrap csstransforms csstransforms3d csstransitions backgroundblendmode gr__colorlib_com cl-loaded"
    lang="en" style="" data-useragent="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.79 Safari/537.36">

<head>
    <% include ../partials/head %>
</head>

<body id="top" class="pace-done" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="300" data-gr-c-s-loaded="true">
    <!-- parallax bg -->
    <div class="parallax-mirror" style="visibility: hidden; z-index: -100; position: fixed; top: -926px; left: 0px; overflow: hidden; transform: translate3d(0px, 0px, 0px); height: 891px; width: 1397px;"><img class="parallax-slider" src="./assets/about/self-portrait-white.png" style="transform: translate3d(0px, 0px, 0px); position: absolute; top: 740.8px; left: 0px; height: 931px; width: 1397px; max-width: none;"></div>

    <!-- pace progress bar -->
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <!-- header -->
    <header class="s-header">
        <% include ../partials/header.ejs %>
    </header>


    <!-- hero -->
    <section id="home" class="s-home target-selection" data-parallax="scroll" data-image-src="images/hero-bg.jpg" data-natural-width="3000" data-natural-height="2000" data-position-y="center">
        <% include ../partials/hero.ejs %>
    </section>

    <!-- about -->
    <section id="about" class="s-about">
        <% include ../partials/about.ejs %>
    </section>

    <!-- services -->
    <section id="services" class="s-services">
        <% include ../partials/services.ejs %>
    </section>

    <!-- Works -->
    <section id="works" class="s-works">
        <% include ../partials/work-mosaic.ejs %>
    </section>

    <!-- clients -->
    <section id="clients" class="s-clients">
        <% include ../partials/clients.ejs %>
    </section>

    <!-- contact -->
    <section id="contact" class="s-contact">
        <% include ../partials/contact.ejs %>
    </section>

    <!-- footer -->
    <footer>
        <% include ../partials/footer.ejs %>
    </footer>

    <!-- phtoswpe -->
    <% include ../partials/photoswipe.ejs %>

        <!-- preloader -->
        <% include ../partials/photoswipe.ejs %>

            <!-- javascript -->
            <script src="./js/jquery-3.2.1.min.js"></script>
            <script src="./js/plugins.js"></script>
            <script src="./js/main.js"></script>


</body><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span>

</html>