<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park</title>
<head>
    <% include ../partials/head %>
</head>
<body>
    
    <script src="js/lore.js"></script>
    <section class="container">
        <div class="nav-container">
            <% include ../partials/navi %>
        </div>
        <div class="body-container">
            <div class="values">
                <h4>Your vibe attracts your tribe</h4>
            </div>

        </div>
    </section> 
    
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>