<!-- views/pages/work.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Work</title>
<head>  
    <% include ../partials/head %>
</head>
<body id="work-container">
    <% include ../partials/work-list %>
    <% include ../partials/explorations %>

    <% include ../partials/navi %>

    <footer>
    <% include ../partials/footer %>
    </footer>
</body> 
</html>
