<!-- views/pages/work.ejs -->

<!DOCTYPE html>
<html lang="en">
<title> Jeff Park - Work</title>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/navi.ejs %>
        <div id="work-container">
            <div class="project">
                <div class="project-title">
                    <a href="/work/glitch">glitch.dance</a>
                </div>
                <div class="project-desc">
                    Is there beauty in computer error?
                </div>
                <div class="project-tools">
                    HTML, CSS, Three.js
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <a href="/work/responsibly">Responsibly.me</a>
                </div>
                <div class="project-desc">
                    How can technology influence corporations to improve their sustainability?
                </div>
                <div class="project-tools">
                    HTML, SASS, Node.js, Express, React.js, MongoDB, Chrome Extension
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <a href="/work/ocular">Ocular</a>
                </div>
                <div class="project-desc">
                    Can we create sound with our eyes?
                </div>
                <div class="project-tools">
                    Max MSP Jitter, OpenCV, Arduino
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <a href="/work/deliverance">Deliverance</a>
                </div>
                <div class="project-desc">
                    How can our past scars make us free?
                </div>
                <div class="project-tools">
                    Cinema4D, Motion Capture, After Effects, Premiere Pro
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <a href="/work/shaders">Shaders</a>
                </div>
                <div class="project-desc">
                    What are shaders?
                </div>
                <div class="project-tools">
                    GLSL, TouchDesigner
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <a href="/work/pinocchio">Pinocchio VR</a>
                </div>
                <div class="project-desc">
                    How can VR interplay with the physical world?
                </div>
                <div class="project-tools">
                    Unreal Engine, Arduino, OSC
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <a href="/work/accessnyc">AccessNYC</a>
                </div>
                <div class="project-desc">
                    How can technology create a more equitable city?
                </div>
                <div class="project-tools">
                    Service Design, Product Management, InDesign
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <a href="/work/brainrhythms">Brain Rhythms</a>
                </div>
                <div class="project-desc">
                    How can we use technology to design a compelling museum experience?
                </div>
                <div class="project-tools">
                    Experience Design, Processing
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <a href="/work/liquidlight">Liquid Light</a>
                </div>
                <div class="project-desc">
                    Can technology remind us of our natural roots?
                </div>
                <div class="project-tools">
                    Arduino
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <a href="/work/longboard">Longboard</a>
                </div>
                <div class="project-desc">
                    Can we elevate and refine the longboard?
                </div>
                <div class="project-tools">
                    Fabrication
                </div>
            </div>
            <% include ../partials/footer.ejs %>
        </div>
        </div>
</body>

</html>