<!-- views/pages/yuna.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Yuna Live Stream</title>
<head>
</head>
<body>
    <div>
        <iframe width="1120" height="630" src="https://www.youtube.com/embed/v_NjTHBcyfA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</body>
<footer>
</footer>

</html>