<!-- views/pages/accessnyc.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - AccessNYC / GrowingUpNYC</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <section class="container">
        <div class="nav-container">
            <% include ../../partials/navi %>
        </div>
        <div class="body-container">
            <div class="portfolio-title">
                <h1>How can technology build a more equitable world?</h1>
                <h3>Service Design | Product Management</h3>
            </div>
            <div class="portfolio-text">
                <p>In the Spring of 2017, I joined the team as a product and design apprentice to help conduct user tests with city programs leaders, foster youths, and other NYC residents and synthesize this research into product improvements for the launch of AccessNYC and GrowingUpNYC.</p>
            </div>
            <div class="portfolio-title">
                <h3>AccessNYC</h3>
            </div>
            <div class="portfolio-text">
                <p><a href="https://access.nyc.gov/">AccessNYC</a> is an online public screening tool developed by the New York City Mayor's Office of Economic Opportunity and launched in March 2017. It is designed to help New York City residents determine the City, State, and Federal health and human service benefit programs for which they are potentially eligible to enroll.</p>
            </div>
            <div class="portfolio-image">
                <img src="/assets/accessnyc/accessnyc2.png" alt="AccessNYC"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/accessnyc/accessnyc1.jpg" alt="AccessNYC on LinkNYC"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/accessnyc/accessnyc6.jpg" alt="AccessNYC on LinkNYC"></img>
            </div>
            <div class="portfolio-title">
                <h3>Process</h3>
            </div>
            <div class="portfolio-image">
                <img src="/assets/accessnyc/accessnyc3.png" alt="Workshopping"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/accessnyc/accessnyc5.png" alt="User testing"></img>
            </div>
            <div class="portfolio-title">
                <h3>Growing Up NYC</h3>
            </div>
            <div class="portfolio-text">
                <p><a href="https://growingupnyc.cityofnewyork.us/">Growing Up NYC</a> is an online platform to educate parents on different resources available in the city for their children. Also developed by the New York City Mayor's Office of Economic Opportunity, it is designed to help New York City parents find resources for their children, determine milestones in their children's development, see public activities/events suitable for their children, and more.</p>
            </div>
            <div class="portfolio-image">
                <img src="/assets/accessnyc/growingupnyc.png" alt="User testing"></img>
            </div>
            <div class="portfolio-title">
                <h3>Process</h3>
            </div>
            <div class="portfolio-image">
                <img src="/assets/accessnyc/growingupproto5.jpg" alt="User testing"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/accessnyc/growingupproto1.jpg" alt="User testing"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/accessnyc/growingupproto2.jpg" alt="User testing"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/accessnyc/growingupproto4.jpg" alt="User testing"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/accessnyc/growingupproto6.jpg" alt="User testing"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/accessnyc/growingupiter1.png" alt="User testing"></img>
            </div>
            <div class="portfolio-text">
                <p>Special thanks to Ariel Kennan, Song Hia, Darnell Sessoms, Hilina Mohammed, and Chisun Rees</p>
            </div>
        </div>
    </section>
</body>
</html>