<!-- views/pages/liquidlight.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - AccessNYC</title>
<head>
    <% include ../../partials/foliohead %>
</head>
<body class="portfolio-container">
    <div class="title-container">
    <h1>AccessNYC</h1>
    <% include ../../partials/navi %>
    </div>
    <div class="portfolio-image">
    <img src="../../public/assets/accessnyc/accessnyc1.png" alt="AccessNYC on LinkNYC"></img>
    </div>
    </div>
    <div class="portfolio-text">
    </div>
    <div class="portfolio-image">
    </div>
    <div class="portfolio-text">
    </div>
</body>
</html>