<!-- views/pages/brainrhythms.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Brain Rhythms</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <div id="portfolio-container"> 
        <% include ../../partials/navi.ejs %>
        <div class="portfolio-title">
            <h3>Brain Rhythms</h3>
            <p>Experience Design | Processing<br>Spring 2017</p>
        </div>
        <div class="portfolio-desc">
            <p>Brain Rhythms is a museum experience designed to bring awareness to how our brains process sound. We reached out to Keith Doelling, an NYU Ph.D candidate researching interactions between neural oscillations in the brain and rhythms in speech and music and demonstrating the necessity of such interactions for speech comprehension. Through our museum experience, we aimed to synthesize Mr. Doelling's research into an experience that was engaging and understanding for the mass audience.</p>
            <p>In collaboration with <a href="http://www.hhayley.com/">Hayley Hwang</a>, <a href="http://www.jinajungitp.com/">Jina Jung</a>, <a href="http://www.lindseydoes.com/">Lindsey Daniels</a>, and <a href="https://www.meditasean.com/">Sean Kim</a>. This museum experience was showcased at the NYU Leslie e-Lab on April 24, 2017.</p>
        </div>
        <div class="portfolio-video">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSWzjxhSlVWdsvs8nkxHi-GsK1kUyVJJ5y6YjuJnySM9XnShDFCFHq7r13d7Vxe4OQavQxNNUogcENE/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
        <div class="portfolio-img-grid">
            <div id="imgL">
                <img src="/assets/brainrhythms/brainrhythms6.jpg" alt="Brain Rhythms"></img>
            </div>
            <div id="imgR">
                <img src="/assets/brainrhythms/brainrhythms7.jpg" alt="Brain Rhythms"></img>
            </div>
            <div id="imgL">
                <img src="/assets/brainrhythms/brainrhythms1.JPG" alt="Playstorming"></img>
            </div>
            <div id="imgR">
                <img src="/assets/brainrhythms/brainrhythms2.JPG" alt="Playstorming"></img>
            </div>
            <div id="imgL">
                <img src="/assets/brainrhythms/brainrhythms3.JPG" alt="Prototyping"></img>
            </div>
            <div id="imgR">
                <img src="/assets/brainrhythms/brainrhythms4.JPG" alt="Prototyping"></img>
            </div>
            <div id="imgL">
                <img src="/assets/brainrhythms/brainrhythms8.jpg" alt="Setting up"></img>
            </div>
            <div id="imgR">
                <img src="/assets/brainrhythms/brainrhythms5.JPG" alt="Setting up"></img>
            </div>
        </div>
        <% include ../../partials/footer.ejs %>
    </div>
</body>

</html>