<!-- views/pages/deliverance.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Deliverance</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <section class="container">
        <div class="nav-container">
            <% include ../../partials/navi %>
        </div>
        <div class="body-container">
            <div class="portfolio-text">
                <h1>Embrace it all; free yourself</h1>
                <p>Deliverance is a story that transports its viewers to an immersive fantasy of sound, movement, and color. Motion-captured dancers animate a figure and trails as they tell a story of being trapped by the scars of one's past. Only when our hero stops fighting these trails and accepts her fate does she find release. In collaboration with Danni Huang and Yasmin Schomann, this piece was designed specifically for a 150' x 11' screen in the lobby of the IAC Headquarters in New York City. </p>
                <p>Created using Cinema4D, Arnold Renderer, Google Zync, Autodesk Motionbuilder, Autodesk Maya, Optitrack Motive, Apple Logic Pro X, Adobe After Effects, and Adobe Premiere Pro. </p>
                <p>Special Thanks to Lorena Perez, Norberto Collazo, Abraham Texidor, Mimi Yin, Todd Bryant, Najma Dawood-McCarthy, Eric Maiello, Aaron Parsekian, Lisa Jamhoury. Music by Ludovico Einaudi. </p>
            </div>
            <div class="portfolio-image">
                <img src="/assets/deliverance/deliverance1.png" alt="Deliverance poster"></img>
            </div>
        </div>
    </section>
</body>
</html>