<!-- views/pages/deliverance.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Deliverance</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <div id="portfolio-container">
        <% include ../../partials/navi.ejs %>
            <div class="portfolio-title">
                <h3>Deliverance</h3>
                <p>Cinema4D | Motionbuilder | Motive | Logic Pro X | After Effects | Premiere Pro<br>Fall 2017</p>
            </div>
            <div class="portfolio-desc">
                <p><a href="https://www.jeff-park.com/work/deliverance-full">Deliverance</a> is a story about embracing one's past, no matter how painful. This four minute animated film transports its viewers to an immersive fantasy of sound, movement, and
                    color. Motion-captured dancers animate a figure and her trails as they tell a story of being trapped by the scars of one's past. Only when our hero stops fighting these trails and accepts her fate does she finally find release.</p>
                <p>In collaboration with <a href="https://dannnni.com/">Danni Huang</a> and Yasmin Schomann, this piece was designed specifically for a 150' wide screen in the lobby of the IAC Headquarters in New York City. </p>
                <p>Special Thanks to Lorena Perez, Norberto Collazo, Abraham Texidor, Mimi Yin, Todd Bryant, Najma Dawood-McCarthy, Eric Maiello, Aaron Parsekian, Lisa Jamhoury. Music by Ludovico Einaudi. </p>
                <p style="text-align:center;"><a href="https://www.jeff-park.com/work/deliverance-full">Watch it here</a></p>
            </div>
            <div class="portfolio-img-col">
                <div class="portfolio-img-col-hero">
                    <a href="https://www.jeff-park.com/work/deliverance-full">
                        <img src="/assets/deliverance/deliverance1.png" alt="Deliverance poster"></img>
                    </a>
                </div>
                <div class="portfolio-img-col-hero">
                    <img src="/assets/deliverance/storygraph.gif" alt="Initial Story Graph"></img>
                </div>
            </div>
            <div class="portfolio-img-grid">
                <div id="imgL">
                    <img src="/assets/deliverance/deliverance-still.png" alt="Deliverance in IAC"></img>
                </div>
                <div id="imgR">
                    <img src="/assets/deliverance/deliverance3.jpg" alt="Deliverance dance rehearsal"></img>
                </div>
                <div id="imgL">
                    <img src="/assets/deliverance/deliverance5.jpg" alt="mocap"></img>
                </div>
                <div id="imgR">
                    <img src="/assets/deliverance/deliverance6.jpg" alt="Deliverance motion capture"></img>
                </div>
                <div id="imgL">
                    <img src="/assets/deliverance/deliverance8.png" alt="Deliverance testing"></img>
                </div>
                <div id="imgR">
                    <img src="/assets/deliverance/deliverance7.jpg" alt="Deliverance testing"></img>
                </div>
                <div id="imgL">
                    <img src="/assets/deliverance/deliverance-process-1.png" alt="Deliverance process"></img>
                </div>
                <div id="imgR">
                    <img src="/assets/deliverance/deliverance-process-2.png" alt="Deliverance process"></img>
                </div>
            </div>
            <div class="portfolio-video">
                <img src="/assets/deliverance/deliverance9.gif" alt="Deliverance motion capture"></img>
            </div>
            <div class="portfolio-img-col">
                <div class="portfolio-img-col-hero">
                    <img src="/assets/deliverance/deliverance-long-1.png" alt="Deliverance screen capture"></img>
                    <img src="/assets/deliverance/deliverance-long-2.png" alt="Deliverance screen capture"></img>
                    <img src="/assets/deliverance/deliverance-long-3.png" alt="Deliverance screen capture"></img>
                    <img src="/assets/deliverance/deliverance-long-4.png" alt="Deliverance screen capture"></img>
                    <img src="/assets/deliverance/deliverance-long-5.png" alt="Deliverance screen capture"></img>
                    <img src="/assets/deliverance/deliverance-long-6.png" alt="Deliverance screen capture"></img>
                    <img src="/assets/deliverance/deliverance-long-7.png" alt="Deliverance screen capture"></img>
                </div>
            </div>
            <div class="port-navi">
                <div class="left-navi">
                    <a href="/work/ocular">← Previous</a>
                </div>
                <div class="right-navi">
                    <a href="/work/shaders">Next →</a>
                </div>
            </div>
            <% include ../../partials/footer.ejs %>
    </div>
</body>

</html>