<!-- views/pages/DRESS.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - DRESS</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <div id="portfolio-container">
        <% include ../../partials/navi.ejs %>
        <div class="portfolio-title">
            <h3>DRESS</h3>
            <p>HTML | SASS/SCSS | Node.js | Express | Bootstrap | Socket.io | WebRTC | Reactivision<br>Fall 2017</p>
        </div>
        <div class="portfolio-desc">
            <% include ../../partials/uc.ejs %>
        </div>
        <div class="portfolio-img-col">
        </div>
        <div class="portfolio-img-grid">
            <div id="imgL">
            </div>
            <div id="imgR">
            </div>
        </div>
        <div class="portfolio-video">
        </div>
        <% include ../../partials/footer.ejs %>
    </div>
</body>