<!-- views/pages/DRESS.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - DRESS</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <div id="portfolio-container">
        <% include ../../partials/navi.ejs %>
            <div class="portfolio-title">
                <h3>DRESS</h3>
                <p>HTML | SASS/SCSS | Node.js | Express | Bootstrap | Socket.io | WebRTC | Reactivision | Arduino<br>Fall 2017</p>
            </div>
            <div class="portfolio-desc">
                <p>People with dementia or other cognitive disorders have difficulty with everyday activities – such as bathing, dressing, eating, and cleaning – which in turn makes them increasingly dependent on caregivers. Dressing is one of the most common
                    and stressful activities for both people with dementia and their caregivers because of the complexity of the task and lack of privacy.</p>
                <p>We developed an intelligent dressing system named DRESS, which integrates automated tracking and recognition with guided assistance with the goal of helping a person with dementia get dressed without a caregiver in the room.</p>
                <p>Read more about it at
                    <a href="https://www.nyu.edu/about/news-publications/news/2018/may/_smart_-dresser-prototype-guides-people-with-dementia-in-getting.html">NYU Research News</a>
                </p>
            </div>
            <div class="portfolio-img-col">
            </div>
            <div class="portfolio-img-grid">
                <div id="imgL">
                    <img src="/assets/dress/dress1.jpg" alt="Dress Dresser"></img>
                </div>
                <div id="imgR">
                    <img src="/assets/dress/dress2.jpg" alt="Dress Dresser"></img>
                </div>
                <div id="imgL">
                    <img src="/assets/dress/dress3.jpg" alt="Dress Dresser"></img>
                </div>
                <div id="imgR">
                    <img src="/assets/dress/dress4.jpg" alt="Dress Dresser"></img>
                </div>

            </div>
            <div class="portfolio-video">
            </div>
            <% include ../../partials/footer.ejs %>
    </div>
</body>