<!-- views/pages/glitch.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - glitch.dance</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <div id="portfolio-container">
        <% include ../../partials/navi.ejs %>
        <div class="portfolio-title">
            <h3>glitch.dance</h3>
            <p>HTML | SASS/SCSS | Three.js<br>Summer 2018</p>
        </div>
        <div class="portfolio-desc">
            <% include ../../partials/uc.ejs %>
        </div>
        <div class="portfolio-img-col">
        </div>
        <div class="portfolio-img-grid">
            <div id="imgL">
            </div>
            <div id="imgR">
            </div>
        </div>
        <div class="portfolio-video">
        </div>
        <% include ../../partials/footer.ejs %>
    </div>
</body>