<!-- views/pages/glitch.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - glitch.dance</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <div id="portfolio-container">
        <% include ../../partials/navi.ejs %>
        <div class="portfolio-title">
            <h3>glitch.dance</h3>
            <p>HTML | SASS/SCSS | Three.js<br>Summer 2018</p>
        </div>
        <div class="portfolio-desc">
            <p>As a part of my Deliverance project, we animated our 3D models with dancers using a motion capture studio at NYU Tandon. Motion capture technology is fickle. Sensors need to be present at all times or else motion is not properly captured. We went through a lot of takes and we had a lot of captured motion with buggy data. I Instead of deleting this data, I decided to show them in an elegant and haunting stage to explore whether we can see beauty in our errors.</p>
        </div>
        <div class="portfolio-img-grid">
            <div id="imgL">
                <img src="/assets/glitch/glitch1.png" alt="glitch.dance screengrab 1"></img>
            </div>
            <div id="imgR">
                <img src="/assets/glitch/glitch2.png" alt="glitch.dance screengrab 2"></img>
            </div>
             <div id="imgL">
                <img src="/assets/glitch/glitch3.png" alt="glitch.dance screengrab 3"></img>
            </div>
            <div id="imgR">
                <img src="/assets/glitch/glitch4.png" alt="glitch.dance screengrab 4"></img>
            </div>
        </div>
        <div class="port-navi">
            <div class="right-navi">
                <a href="/work/responsibly">Next →</a>
            </div>
        </div>
        <% include ../../partials/footer %>
    </div>
</body>