<!-- views/pages/hipchat.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - HipChat</title>
<head>
    <% include ../../partials/foliohead %>
</head>
<body class="portfolio-container">
    <div class="title-container">
    <h1>HipChat</h1>
    <% include ../../partials/navi %>
    </div>
    <% include ../../partials/uc %>
</body>
</html>