<!-- views/pages/HipChat.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - HipChat</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <div id="portfolio-container">
        <% include ../../partials/navi.ejs %>
        <div class="portfolio-title">
            <h3>HipChat</h3>
            <p>Product Marketing<br>2011-2016</p>
        </div>
        <div class="portfolio-desc">
            <% include ../../partials/uc.ejs %>
        </div>
        <div class="portfolio-img-col">
        </div>
        <div class="portfolio-img-grid">
            <div id="imgL">
            </div>
            <div id="imgR">
            </div>
        </div>
        <div class="portfolio-video">
        </div>
        <% include ../../partials/footer.ejs %>
    </div>
</body>