<!-- views/pages/liquidlight.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Liquid Light</title>
<head>
    <% include ../../partials/foliohead %>
</head>
<body class="portfolio-container">
    <div class="title-container">
    <h1>Liquid Light</h1>
    <% include ../../partials/navi %>
    </div>
    <div class="portfolio-image">
    <img src="https://i1.wp.com/www.jeff-park.com/wp-content/uploads/2016/09/liquid_light.jpg?fit=5760%2C3240" alt="Liquid-light-1"></img>
    </div>
    <div class="portfolio-text">
        <h1>How can technology remind us of our natural roots?</h1>
        <p>Liquid Light, in collaboration with Yeseul Song, is a prototype for an interactive toy made up of LEDs. The LEDs are programmed to simulate the physics of liquid.</p>
        <p>To the utter surprise to noone, digital technology is taking over our lives. At first, true innovations sought to improve our lives, but as the cost of digital technology has plummeted, we see technology entering even the mundane parts of our lives. This digital transformation threatens to innundate our lives to the point where we forget our natural beginnings.</p>
        <p>For our Physical Computing midterm, I wanted to explore how we can use technology as a tool to remind us of how the laws of nature rule us. Yeseul and I sought to mimic water trapped in a box using Adafruit Neopixels. Our project serves as a prototype, as we envision a toy in which multiple boxes of light can interact with one another (e.g. pouring light from one box to another).</p>
    </div>
    <div class="portfolio-image">
    <img src="https://i2.wp.com/www.jeff-park.com/wp-content/uploads/2016/09/liquid_light2.jpg?fit=5760%2C3240" alt="Liquid-light-2"></img>
    </div>
    <div class="portfolio-text">
        <p>This project was built with an Arduino Uno, an MPU-6050 Accel/Gyro Sensor, and Adafruit Neopixels.</p>
        <p>Role: Developer, Interaction Designer</p>
        <p>Liquid Light was showcased at the NYU Winter Show in 2017.</p>
        
    </div>
    <div class="portfolio-image">
    <img src="https://i2.wp.com/www.jeff-park.com/wp-content/uploads/2016/09/liquid_light3.jpg?fit=5760%2C3240" alt="Liquid-light-3"></img>
    </div>
    <div class="portfolio-text">
    <div class="video">
    <iframe src="https://player.vimeo.com/video/197146445"></iframe>
    </div>
    </div>
    <div class="portfolio-image">
    <img src="https://i1.wp.com/www.jeff-park.com/wp-content/uploads/2016/09/liquid_light4.jpg?fit=5760%2C3240" alt="Liquid-light-4"></img>
    </div>
</body>
</html>