<!-- views/pages/liquidlight.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Liquid Light</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <section class="container">
        <div class="nav-container">
            <% include ../../partials/navi %>
        </div>
        <div class="body-container">
            <div class="portfolio-text">
                <h1>How can technology return us back to our natural roots?</h1>
                <p>Liquid Light, in collaboration with Yeseul Song, is an interactive toy designed to simulate fluid dynamics with light. This piece explores how technology can refocus our attention back to the laws of nature that surround us and remind us of the playful nature of technological invention. Our project serves as a prototype, as we envision a toy in which multiple components of light can interact with one another (e.g. pouring light from one box to another).</p>
                <p>Created using Arduino, Adafruit Neopixels, MPU-6050 accel/gyro sensor. Special thanks to Danny Rozin.</p>
                <p>Liquid Light was showcased at the NYU Winter Show in 2017.</p>
            </div>
            <iframe src="https://player.vimeo.com/video/197146445"></iframe>
            <div class="portfolio-image">
                <img src="/assets/liquidlight/liquid_light1.jpg" alt="Liquid-light-1"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/liquidlight/liquid_light2.jpg" alt="Liquid-light-2"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/liquidlight/liquid_light3.jpg" alt="Liquid-light-3"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/liquidlight/liquid_light4.jpg" alt="Liquid-light-4"></img>
            </div>
        </div>
    </section>
</body>
</html>