<!-- views/pages/longboard.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Longboard</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <div id="portfolio-container">
        <div class="portfolio-title">
            <h3>Longboard</h3>
            <p>Fabrication<br>Fall 2015</p>
        </div>
        <div class="portfolio-desc">
            <% include ../../partials/uc.ejs %>
        </div>
        <div class="portfolio-img-col">
        </div>
        <div class="portfolio-img-grid">
            <div id="imgL">
            </div>
            <div id="imgR">
            </div>
        </div>
        <div class="portfolio-video">
        </div>
        <% include ../../partials/footer.ejs %>
    </div>
</body>