<!-- views/pages/longboard.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Longboard</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <div id="portfolio-container">
        <% include ../../partials/navi.ejs %>
        <div class="portfolio-title">
            <h3>Longboard</h3>
            <p>Fabrication<br>Fall 2015</p>
        </div>
        <div class="portfolio-desc">
            <p>Spending 9 years in California, I fell in love with the beach life. The chill vibes, Pacificos under the sun, the rhythm of the waves. And the one way I always got around was with the longboard. The longboard is simple and an elegant solution to oceanside mobility. So when I wanted to start learning how to fabricate, I sought to design a board that was elegant in both form and function.</p>
            <p>Made out of Bubinga and Walnut. Special thanks to Alex Mercuri and Toby Stopper. </p> 
        </div>
        <div class="portfolio-img-col">
            <div class="portfolio-img-col-hero">
                <img src="/assets/longboard/Final.jpg" alt="Final board"></img>
            </div>
        </div>
        <div class="portfolio-img-grid">
            <div id="imgL">
                <img src="/assets/longboard/process.jpg" alt="Longboard in the making"></img>  
            </div>
            <div id="imgR">
                <img src="/assets/longboard/render1.jpg" alt="design render 1"></img>
            </div>
            <div id="imgL">
                <img src="/assets/longboard/render2.jpg" alt="design render 2"></img>
            </div>
            <div id="imgR">
                <img src="/assets/longboard/render3.jpg" alt="design render 3   "></img>
            </div>
        </div>
        <div class="portfolio-video">
        </div>
        <% include ../../partials/footer.ejs %>
    </div>
</body>