<!-- views/pages/ocular.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Ocular</title>
<head>
    <% include ../../partials/foliohead %>
</head>
<body class="portfolio-container">
    <div class="title-container">
    <h1>Ocular</h1>
    <% include ../../partials/navi %>
    </div>
    <div class="portfolio-text">
        <p>Exploring our intimate — and sometimes uncomfortable — connection to sound and the gaze, Ocular is an instrument that loops and affects samples by tracking the performer's pupil using computer vision. Designed and developed over a span of three months, Ocular was performed in front of a live audience in Brooklyn, NY for ITP NIME on December 3, 2017.</p>
        <p>Created using Arduino, Adafruit Neopixels, MPU-6050 accel/gyro sensor. Special thanks to Danny Rozin.</p>
        <p>Created using Max MSP, Jitter, cv.Jit, and Arduino. Special thanks to Aaron Montoya Moraga, Greg Shakar, and the rest of the ITP NIME community.</p>
        <p>The max patch for this project is open source and can be found on <a href="https://github.com/jpark11/Ocular">Github</a></p>
    </div>
    <div class="portfolio-image">
    <img src="/assets/liquidlight/liquid_light1.jpg" alt="Liquid-light-1"></img>
    </div>
</body>
</html>