<!-- views/pages/ocular.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Ocular</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <div id="portfolio-container">
        <% include ../../partials/navi.ejs %>
        <div class="portfolio-title">
            <h3>Ocular</h3>
            <p>Max MSP Jitter | cv.Jit | Arduino<br>Fall 2017</p>
        </div>
        <div class="portfolio-desc">
            <p>Exploring our intimate — and often uncomfortable — connection to the human gaze, Ocular is an electronic musical instrument that explores the paradox between this discomfort and the role eye contact plays in forming true human connection.</p>
            <p>Ocular loops different music samples and affects them by tracking the performer's pupil with computer vision. In the beginning, sounds are harsh and designed to make the user uncomfortable, but as more samples play (and more eyes look into the audience), a melody begins to take shape, creating a more forgiving and comfortable environment for the audience, even though the number of eyes might feel more unsettling. </p>
            <p>Designed and developed over a span of three months, Ocular was performed in front of a live audience at <a href="https://www.littlefieldnyc.com/event/1596395-nime-new-interfaces-for-brooklyn/">Littlefield</a> in Brooklyn NY on December 3, 2017.</p>
            <p>Special thanks to Aaron Montoya Moraga, Greg Shakar, Yuli Cai, Chino Kim, and the rest of the ITP NIME community.</p>
            <p>The max patch for this project is open source and can be found on <a href="https://github.com/jpark11/Ocular">Github</a></p>
        </div>
        <div class="portfolio-video">
            <iframe src="https://player.vimeo.com/video/249334158" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="portfolio-video">
            <iframe src="https://www.youtube.com/embed/jZnJKXJuD0Q" width="640" height="360" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="portfolio-img-grid">
            <div id="imgL">
                <img src="/assets/ocular/ocular4.jpg" alt="Ocular4"></img>
            </div>
            <div id="imgR">
                <img src="/assets/ocular/ocular3.jpg" alt="Ocular3"></img>
            </div>
            <div id="imgL">
                <img src="/assets/ocular/ocular1.jpg" alt="Ocular1"></img>
            </div>
            <div id="imgR">
                <img src="/assets/ocular/ocular-initial-sketch.jpg" alt="Initial Sketch"></img>
            </div>
            <div id="imgL">
                <img src="/assets/ocular/ocular8.png" alt="Ocular8"></img>
            </div>
            <div id="imgR">
                <img src="/assets/ocular/ocular9.jpg" alt="Ocular9"></img>
            </div>
            <div id="imgL">
                <img src="/assets/ocular/ocular-process-1.png" alt="Ocular10"></img>
            </div>
            <div id="imgR">
                <img src="/assets/ocular/ocular6.jpg" alt="Ocular6"></img>
            </div>
            <div id="imgL">
                <img src="/assets/ocular/ocular5.jpg" alt="Ocular5"></img>
            </div>
            <div id="imgR">
                <img src="/assets/ocular/ocular2.jpg" alt="Ocular2"></img>
            </div>
        </div>
        <% include ../../partials/footer.ejs %>
    </div>
</body>
</html>