<!-- views/pages/ocular.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Ocular</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <section class="container">
        <div class="nav-container">
            <% include ../../partials/navi %>
        </div>
        <div class="body-container">
            <div class="portfolio-title">
                <h1>How can we play music with our eyes?</h1>
                <h3>Max MSP | Jitter | cv.Jit | Arduino</h3>
            </div>
            <div class="portfolio-text">
                <p>Exploring our intimate — and sometimes uncomfortable — connection to sound and the gaze, Ocular is an instrument that loops and affects samples by tracking the performer's pupil using computer vision. Designed and developed over a span of three months, Ocular was performed in front of a live audience in Brooklyn, NY for ITP NIME on December 3, 2017.</p>
                <p>Special thanks to Aaron Montoya Moraga, Greg Shakar, Yuli Cai, Chino Kim, and the rest of the ITP NIME community.</p>
                <p>The max patch for this project is open source and can be found on <a href="https://github.com/jpark11/Ocular">Github</a></p>
            </div>
            <iframe src="https://www.youtube.com/embed/jZnJKXJuD0Q" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular1.jpg" alt="Ocular1"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular2.jpg" alt="Ocular2"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular3.jpg" alt="Ocular3"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular4.jpg" alt="Ocular4"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular5.jpg" alt="Ocular5"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular6.jpg" alt="Ocular6"></img>
            </div>
            <iframe src="https://player.vimeo.com/video/249334158" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular7.png" alt="Ocular7"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular8.png" alt="Ocular8"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular9.jpg" alt="Ocular9"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular-process-1.png" alt="Ocular10"></img>
            </div>
        </div>
    </section>
</body>
</html>