<!-- views/pages/ocular.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Ocular</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <section class="container">
        <div class="nav-container">
            <% include ../../partials/navi %>
        </div>
        <div class="body-container">
            <div class="portfolio-title">
                <h1>How can we play music with our eyes?</h1>
                <h3>Max MSP | Jitter | cv.Jit | Arduino</h3>
            </div>
            <div class="portfolio-text">
                <p>Exploring our intimate — and often uncomfortable — connection to the human gaze, Ocular is an electronic musical instrument that explores the paradox between this discomfort and the role eye contact plays in forming true human connection.</p>
                <p>Ocular loops different music samples and affects them by tracking the performer's pupil with computer vision. In the beginning, sounds are harsh and designed to make the user uncomfortable, but as more samples play (and more eyes look into the audience), a melody begins to take shape, creating a more forgiving and comfortable environment for the audience, even though the number of eyes might feel more unsettling. </p>
                <p>Designed and developed over a span of three months, Ocular was performed in front of a live audience in Brooklyn, NY for ITP NIME on December 3, 2017.</p>
            </div>
            <iframe src="https://www.youtube.com/embed/jZnJKXJuD0Q" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular4.jpg" alt="Ocular4"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular3.jpg" alt="Ocular3"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular1.jpg" alt="Ocular1"></img>
            </div>
            <div class="portfolio-title">
                <h3>Process</h3>
            </div>
            <div class="portfolio-text">
                <p>
                    In order to invent a new instrument, I started my process by researching past NIME performances and figuring out which elements of existing performances I liked. Inspiration came from a sound, a gesture, an effect. During my research process, I dove into eye-tracking with computer vision. The idea of playing an instrument with my eye appealed to me, and I began to ideate on what a performance would look and feel like. Through rapid prototyping, I built my first prototype of Ocular and through testing, I iterated to the final performance version. 
                </p>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular-initial-sketch.jpg" alt="Initial Sketch"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular8.png" alt="Ocular8"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular9.jpg" alt="Ocular9"></img>
            </div>
            <iframe src="https://player.vimeo.com/video/249334158" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular-process-1.png" alt="Ocular10"></img>
            </div>
            <div class="portfolio-title">
                <h3>Impact</h3>
            </div>
            <div class="portfolio-text">
                <p>
                    Ocular was performed in front of a live audience at <a href="https://www.littlefieldnyc.com/event/1596395-nime-new-interfaces-for-brooklyn/">Littlefield</a> in Brooklyn NY. 
                </p>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular6.jpg" alt="Ocular6"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular5.jpg" alt="Ocular5"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/ocular/ocular2.jpg" alt="Ocular2"></img>
            </div>
            <div class="portfolio-text">
                <p>Special thanks to Aaron Montoya Moraga, Greg Shakar, Yuli Cai, Chino Kim, and the rest of the ITP NIME community.</p>
                <p>The max patch for this project is open source and can be found on <a href="https://github.com/jpark11/Ocular">Github</a></p>
            </div>            
        </div>
    </section>
</body>
</html>