<!-- views/pages/pinocchio.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Pinocchio VR</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <div id="portfolio-container">
        <div class="portfolio-title">
            <h3>Pinocchio VR</h3>
            <p>Unreal Engine | Arduino | OSC<br>Spring 2017</p>
        </div>
        <div class="portfolio-desc">
            <p>PinocchioVR is a virtual reality game that explores the in-the-headset and out-of-headset experience. The viewer is Pinocchio, trapped in a whale's stomach. Those waiting in line to try the VR experience can walk up to a microphone and ask the viewer questions. These questions are ported into the game as the whale's voice, and a heart sensor detects slight changes in pulse to detect whether Pinocchio's answers are the truth or a lie. Answer questions truthfully before the whale blows you out of its blowhole to escape and become a real boy!</p>
            <p>In collaboration with DongChan Kim and Anastasis Germanidis. Special thanks to Todd Bryant.</p>
            <p>This piece was shown at the NYU ITP Show Spring 2017.</p>  
        </div>
        <div class="portfolio-img-grid">
            <div id="imgL">
                <img src="/assets/pinocchio/pinocchio-1.png" alt="Pinocchio 1"></img>
            </div>
            <div id="imgR">
                <img src="/assets/pinocchio/pinocchio-2.png" alt="Pinocchio 2"></img>
            </div>
            <div id="imgL">
                <img src="/assets/pinocchio/pinocchio-3.png" alt="Pinocchio 3"></img>
            </div>
            <div id="imgR">
                <img src="/assets/pinocchio/pinocchio-4.png" alt="Pinocchio 4"></img>
            </div>
        </div>
        <% include ../../partials/footer.ejs %>
	</div>
</body>
</html>