<!-- views/pages/pinocchio.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Pinocchio VR</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
	<section class="container">
		<div class="nav-container">
			<% include ../../partials/navi %>
		</div>
		<div class="body-container">
			<div class="portfolio-title">
                <h1>How can we use VR to create playful and fantastical experiences?</h1>
                <h3>Unreal Engine | OSC | Arduino</h3>
            </div>
			<% include ../../partials/uc %>
		</div>
	</section>
</body>