<!-- views/pages/pinocchio.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Pinocchio VR</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
	<section class="container">
		<div class="nav-container">
			<% include ../../partials/navi %>
		</div>
		<div class="body-container">
			<div class="portfolio-title">
                <h1>How can we use VR to create playful and fantastical experiences?</h1>
                <h3>Unreal Engine | OSC | Arduino</h3>
            </div>
			<div class="portfolio-text">
                <p>What's it like to be Pinocchio? Trapped in the whale's stomach, unable to hide a lie. Answer questions truthfully before the whale blows you out of its blowhole to escape and become a real boy! </p>
                <p>Created using Unreal Engine 4, OSC, and Arduino. Special thanks to Todd Bryant. </p>
                <p>In collaboration with DongChan Kim and Anastasis Germanidis.</p>
            </div>
			<% include ../../partials/uc %>
		</div>
	</section>
</body>