<!-- views/pages/ocular.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Responsibly.me</title>

<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <div id="portfolio-container">
        <% include ../../partials/navi.ejs %>
            <div class="portfolio-title">
                <h3>Responsibly.me
                    <h3>
                        <p>HTML | SASS/SCSS | Node.js | Express | React.js | MongoDB | Chrome Extension<br>Spring 2018</p>
            </div>
            <div class="portfolio-desc">
                <p><a href="https://www.responsibly.me">Responsibly.me</a> is a web platform for consumers to make more socially responsible purchasing decisions. Responsibly.me aggregates existing rankings on a company’s Corporate Social Responsibility
                    initiatives and recommends similar products from brands with higher grades. Responsibly.me also provides a dashboard for users to understand their social responsibility values and purchasing habits in order to encourage them to shop
                    more consciously.</p>
                <p>Special thanks to <a href="https://btschuldt.me/">Bryan Schuldt</a> for graphic design and branding help.</p>
            </div>
            <div class="portfolio-img-col">
                <div class="portfolio-img-col-hero">
                    <img src="/assets/responsibly/homepage.png" alt="Responsibly.me Homepage"></img>
                </div>
            </div>
            <div class="portfolio-img-grid">
                <div id="imgL">
                    <img src="/assets/responsibly/extmin.png" alt="Minimized Responsibly.me Extension"></img>
                </div>
                <div id="imgR">
                    <img src="/assets/responsibly/extsimilarproducts.png" alt="Responsibly.me Extension with Recommended Products"></img>
                </div>
                <div id="imgL">
                    <img src="/assets/responsibly/usertest1.jpg" alt="Early Prototyping"></img>
                </div>
                <div id="imgR">
                    <img src="/assets/responsibly/usertest2.jpg" alt="Rapid Prototyping"></img>
                </div>
                <div id="imgL">
                    <img src="/assets/responsibly/usertest3.jpg" alt="User testing"></img>
                </div>
                <div id="imgR">
                    <img src="/assets/responsibly/usertest4.jpg" alt="Gathering feedback"></img>
                </div>
                <div id="imgL">
                    <img src="/assets/responsibly/corporatedashboard.png" alt="Responsibly.me Corporate Dashboard"></img>
                </div>
                <div id="imgR">
                    <img src="/assets/responsibly/userdashboard.png" alt="Responsibly.me User Dashboard"></img>
                </div>
            </div>
            <div class="portfolio-video">
                <img src="/assets/responsibly/responsiblymegif.gif" alt="Responsibly.me User Experience"></img>
            </div>
            <div class="port-navi">
                <div class="left-navi">
                    <a href="/work/glitch">← Previous</a>
                </div>
                <div class="right-navi">
                    <a href="/work/ocular">Next →</a>
                </div>
            </div>
            <% include ../../partials/footer.ejs %>
    </div>
</body>

</html>