<!-- views/pages/shaders.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Shaders</title>
<head>
    <% include ../../partials/foliohead %>
</head>

<body>
	<div id="portfolio-container">
        <div class="portfolio-title">
            <h3>Shaders<h3>
            <p>GLSL<br>Fall 2017</p>
        </div>
        <div class="portfolio-desc">
            <p>A series of shaders to learn about GPU rendering and 3D graphics.</p>
        </div>
        <div class="portfolio-video">
            <img src="/assets/shaders/shader1.gif" alt="Dark Side of the Moon"></img>
        </div>
        <div class="portfolio-img-grid">
            <div id="imgL">
                <img src="/assets/shaders/shader5.gif" alt="Sorrow"></img>
            </div>
            <div id="imgR">
                <img src="/assets/shaders/shader2.gif" alt="Remnants"></img>
            </div>
            <div id="imgL">
                <img src="/assets/shaders/shader3.gif" alt="Supernova"></img>
            </div>
            <div id="imgR">
                <img src="/assets/shaders/shader4.gif" alt="Heatwave"></img>
            </div>
        </div>
        <% include ../../partials/footer.ejs %>
	</div>
</body>