<!-- views/pages/shaders.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Shaders</title>
<head>
    <% include ../../partials/foliohead %>
</head>

<body>
	<section class="container">
		<div class="nav-container">
			<% include ../../partials/navi %>
		</div>
		<div class="body-container">
			<div class="IG">
				<iframe src="http://player.thebookofshaders.com/?log=171229221655">
				</iframe>
				<iframe src="http://player.thebookofshaders.com/?log=171229221621"></iframe>
				<iframe src="http://player.thebookofshaders.com/?log=171229221557"></iframe>
				<iframe src="http://player.thebookofshaders.com/?log=171229220745">
				</iframe>
				<iframe src="http://player.thebookofshaders.com/?log=171229221106"></iframe>
			</div>
	</section>
</body>