<!-- views/pages/swellbeats.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Swell Beats</title>
<head>
    <% include ../../partials/foliohead %>
</head>
<body class="portfolio-container">
    <div class="title-container">
    <h1>Swell Beats</h1>
    <% include ../../partials/navi %>
    </div>
    <div class="portfolio-text">
        <p>Swell Beats is an immersive webVR experience in which viewers can surf a musical wave and make music together. </p>
        <p>In collaboration with Amanda MJ Lee. Built with Three.js and Socket.io.</p>
        <p>Swell Beats is currently under construction and is expected to be released in Winter 2018.</p>
    </div>
    <div class="portfolio-image">
    <img src="/assets/liquidlight/liquid_light1.jpg" alt="Liquid-light-1"></img>
    </div>
</body>
</html>