<!-- views/pages/swellbeats.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Swell Beats</title>
<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <section class="container">
        <div class="nav-container">
            <% include ../../partials/navi %>
        </div>
        <div class="body-container">
            <div class="portfolio-title">
                <h1>What does a real-time shared VR experience feel like?</h1>
                <h3>WebVR | Three.js | Socket.io</h3>
            </div>
            <div class="portfolio-text">
                <p>The advent of available VR technologies has allowed creators to explore a wide array of design challenges in the virtual space. But there hasn't been a lot of literature on how a shared VR experience should work and what the specific design challenges are.</p>
                <p>Swell Beats is an immersive webVR experience in which multiple users can play and surf a wave together. The location of the wave determines what kind of note is played.</p>
            </div>
            <div class="portfolio-title">
                <h3>Process</h3>
            </div>
            <!-- Need sketches and design challenges -->
            <div class="portfolio-image">
                <img src="/assets/swellbeats/swellbeats1.png" alt="Swell Beats 1"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/swellbeats/swellbeats2.png" alt="Swell Beats 2"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/swellbeats/swellbeats3.png" alt="Swell Beats 3"></img>
            </div>
            <div class="portfolio-text">
                <p>Swell Beats is currently under construction and is expected to be released in Winter 2018.</p>
            </div>
        </div>
    </section>
</body>