<!-- views/pages/swellbeats.ejs -->

<!DOCTYPE html>
<html lang="en">
<title>Jeff Park - Swell Beats</title>
<head>
    <% include ../../partials/foliohead %>
</head>

<body>
    <section class="container">
        <div class="nav-container">
            <% include ../../partials/navi %>
        </div>
        <div class="body-container">
            <div class="portfolio-title">
                <h1>What does a real-time shared VR experience feel like?</h1>
                <h3>WebVR | Three.js | Socket.io</h3>
            </div>
            <div class="portfolio-text">
                <p>Swell Beats is an immersive webVR experience in which viewers can surf a musical wave and make music together. </p>
                <p>In collaboration with Amanda MJ Lee. </p>
                <p>Swell Beats is currently under construction and is expected to be released in Winter 2018.</p>
            </div>
            <div class="portfolio-image">
                <img src="/assets/swellbeats/swellbeats1.png" alt="Swell Beats 1"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/swellbeats/swellbeats2.png" alt="Swell Beats 2"></img>
            </div>
            <div class="portfolio-image">
                <img src="/assets/swellbeats/swellbeats3.png" alt="Swell Beats 3"></img>
            </div>
        </div>
    </section>
</body>